/* .form-container {
    display: flex;
    flex-direction: row;
    height: auto;
    max-width: 90vh;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.353);
    padding: 3rem 3rem;
    margin: 3rem;
    letter-spacing: 0.01em;
}

.form-container h4 {
    font-weight: 100;
    text-align: start;
    margin-bottom: 2rem;
}

.formInput-wrapper{
    display: flex;
    gap: 3rem;
    

}

.input-group {
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem 0rem 0rem;
    text-align: left;
}

.form-lable {
    text-decoration: none;
    color: firebrick;
    font-size: .8rem;
}

.form-inputField {
    height: 3rem;
    border: 0;
    font-size: 1.5rem;
    padding-left: 10px;
    background-color: #fafafa;
    box-shadow: inset 1px 1px 3px #00000067;
}

.form-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}

.form-submitBtn {
    width: 120px;
    height: 35px;
    border-radius: 2rem;
    border: none;
    box-shadow: 1px 1px 3px #00000067;
    margin-top: 3rem;
} */